@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/Raleway-SemiBold.ttf") format("truetype");
}
// font sizes
$font-size-big: 20px;


// colors

$ibis-red: #F22539;
$ibis-grey: #F5F5F5;
$ibis-black: #404040;
$ibis-blue: #4B5DFB;
$ibis-grey-middle: #C0C0C0;